/* Styles match epcc_clarity.thmx where possible. */
body { 
  font-family: "Arial";
  color: #292934;
}
p, li, th, td { 
  font-family: "Arial";
  font-size: 20pt;
  line-height: 1.2;
}
h1, h2, h3 {
  font-family: "Arial";
  font-weight: normal;
  color: #A53926;
}
.remark-code {
  font-family: 'Courier';
  font-weight: bold;
  font-size: 14pt;
}
.remark-inline-code {
  font-family: 'Courier';
  font-weight: bold;
  font-size: 16pt;
}
/* Collapse table cell borders so cells share borders. */
table {
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  border: 1px solid;
}
/*
 * From Two-column formatting? #236
 * https://github.com/gnab/remark/issues/236 
 */
.columns {
  display: flex;
}
.col {
  width: 50%;
  padding: 0 1%;
  box-sizing: border-box;
}
.col3 {
  width: 33%;
  padding: 0 1%;
  box-sizing: border-box;
}
/*
 * From Center slide numbering in xaringan
 * https://community.rstudio.com/t/center-slide-numbering-in-xaringan/24463/2
 */
.remark-slide-number {
  right: 50%
}
/*
 * From Easy way to add footer / disable slide numbering #34
 * https://github.com/yihui/xaringan/issues/34
 */
.footer {
  position: fixed;
  top: 85%;
  left: 0;
  width: 100%;
}
.logo_columns {
  display: flex;
  align-items: center;
}
.epcc-logo img {
  height: 40pt;
  float: left;
  vertical-align: bottom;
}
.uoe-logo img {
  height: 50pt;
  float: right;
  vertical-align: bottom;
}
.cc-by-logo img {
  height: 75pt;
  float: center;
}
/*
 * From Slide number removal
 * https://github.com/yihui/xaringan/wiki/Slide-number-removal
 */
.title-slide .remark-slide-number {
  display: none;
}
.title-slide h1
{
  font-size: 54pt;
}
.title-slide hr
{
  border-color: #D2533C;
}
.title-slide p
{
  font-size: 24pt;
  color: #57576E;
}
.slide-reuse p {
  font-size: 15pt;
}
.slide-references p {
  font-size: 14pt;
}
