/* Styles match EPCC styles where possible. */
body { 
  font-family: "Arial";
  color: #000000;
}
p, li, th, td { 
  font-family: "Arial";
  font-size: 20pt;
  line-height: 1.2;
}
li { 
  font-size: 18pt;
}
/* 
 * Set bullet colours. From:
 * https://www.designcise.com/web/tutorial/how-to-set-html-lists-bullet-color-using-css
 */
li::marker {
  color: #F0B323; /* EPCC orange */
}
h1, h2, h3 {
  font-family: "Arial";
  font-weight: normal;
  color: #000000;
}
.remark-code {
  font-family: 'Courier';
  font-weight: bold;
  font-size: 14pt;
}
.remark-inline-code {
  font-family: 'Courier';
  font-weight: bold;
  font-size: 16pt;
}
/* Collapse table cell borders so cells share borders. */
table {
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  border: 1px solid;
}
/*
 * From Two-column formatting? #236
 * https://github.com/gnab/remark/issues/236 
 */
.columns {
  display: flex;
}
.col {
  width: 50%;
  padding: 0 1%;
  box-sizing: border-box;
}
.col3 {
  width: 33%;
  padding: 0 1%;
  box-sizing: border-box;
}
/*
 * From Easy way to add footer / disable slide numbering #34
 * https://github.com/yihui/xaringan/issues/34
 */
.header {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 28pt; /* 1.02cm */
  background: #F0B323; /* EPCC orange */
  color: #FFFFFF;
  font-size: 12pt;
  text-align: left;
}
.footer {
  position: fixed;
  top: 80%;
  left: 0;
  width: 100%;
  background: cyan;
}
.logo-columns {
  display: flex;
  align-items: center;
}
.epcc-title-logo img {
  height: 72pt; /* 2.54.cm */
  float: right;
  vertical-align: bottom;
}
.epcc-logo img {
  height: 30pt; /* 1.07.cm */
  float: right;
  vertical-align: bottom;
}
.uoe-logo img {
  height: 151pt; /* 5.35cm */
  float: right;
  vertical-align: top;
}
.cc-by-logo img {
  height: 75pt;
  float: center;
}
/*
 * From Slide number removal
 * https://github.com/yihui/xaringan/wiki/Slide-number-removal
 */
.title-slide .remark-slide-number {
  display: none;
}
/*
 * From Center slide numbering in xaringan
 * https://community.rstudio.com/t/center-slide-numbering-in-xaringan/24463/2
 */
.remark-slide-number {
  top: 0%;
  height: 28pt; /* 1.02cm */
  background: #F0B323; /* EPCC orange */
  color: #ffffff;
  font-size: 12pt;
  text-align: right;
  opacity: 1;
}

.title-slide h1 {
  font-size: 54pt;
}
.title-slide hr {
  border-color: #000000;
  background-color: #000000;
  height: 1.5pt;
}
.title-slide p {
  font-size: 28pt;
  color: #000000;
}
.slide-reuse p {
  font-size: 15pt;
}
.slide-references p {
  font-size: 14pt;
}
